#datetime-picker {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  box-sizing: border-box;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  margin-right: 8px;
  margin-top: 32px;
}

#datetime-picker:hover {
  border: 1px solid #000;
}

#datetime-picker:active {
  border: 1px solid #4e75ff;
}

#datetime-picker:disabled {
  border: 1px solid #808080;
  color: #808080;
}

[data-start] {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  border: none;

  background: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

[data-start]:hover {
  background: #6c8cff;
}

[data-start]:disabled {
  background: #cfcfcf;
  color: #989898;
  cursor: auto;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  width: 346px;
  height: 72px;
  margin: 0 auto;
  margin-top: 32px;
}

.field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  width: calc((100% - 72px) / 4);
  height: 100%;
}

.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}
